{% extends 'main/base.html' %}
{% block content %}
<div class="col">
    <div class="card shadow-sm">
        <br>
        <h2 class="text-center">Форма обратной связи:</h2>
        <form method="post" action="" class="form-floating">
            {% csrf_token %}
            <div class="mb-2 m-3">
                <input type="text" name="name" class="form-control" id="name" placeholder="Ваше имя" required><br>
            </div>
            <div class="mb-2 m-3">
                <input type="text" name="phone" class="form-control" id="phone" placeholder="Контактный телефон"
                       required><br>
            </div>
            <div class="mb-2 m-3">
                <textarea type="text" name="message" class="form-control" id="message" placeholder="Сообщение"
                          required></textarea><br>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" class="btn btn-lg btn-outline-primary btn-default">Отправить</button>
                <br>
            </div>
        </form>
    </div>
</div>
</div>
{% endblock %}