{% extends 'main/base.html' %}

{% block content %}
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            <p>Действительно удалить товар "{{ object.prod_title }}"?</p>
            <button type="submit" class="btn btn-warning">Подтвердить</button>
            <a href="{% url 'main:product_view' object.pk %}" type="button" class="btn btn-secondary">Отмена</a>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}