{% load static %}
{% load my_tags %}
<div class="card shadow-sm">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="0" xmlns="http://www.w3.org/2000/svg"
         role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title><img src="{{ object.preview_image|mediapath }}" width="419" height="400"/>
        <rect width="100%" height="80%" fill="#55595c"/>
        <div class="card-body">
            <p class="card-text">{{ object|title|truncatechars:30}} </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="{% url 'main:product' object.pk %}" type="button" class="btn btn-sm btn-outline-secondary">Просмотр</a>
                </div>
            </div>
        </div>
</div>
